* {
    margin: 0px;
    padding: 0px;
}   

a {
    text-decoration: none;
   
}
.contenedor-menu {
   display: inline;
   
}


.contenedor-menu .menu {
    width: 25%;
    position: absolute;
}

.contenedor-menu ul {
    list-style: none;
}

.contenedor-menu .menu li a {
    color: black;
    display: block;
    padding: 15px 30px;
    background: #e9e9e9;
}


.contenedor-menu .menu li a:hover{
    background: #1a95d5;
    color: #ffffff;
    text-decoration: none;
}

.margen{
    padding-right: 8px;
}
